root = true

[*]
indent_style = tab
indent_size = 4

end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{html,svg,json,toml}]
indent_style = tab
indent_size = 2

[*.{fish,rs}]
indent_style = space
indent_size = 4

[*.{md,wls,yaml,yml}]
indent_style = space
indent_size = 2

[Cargo.lock]
indent_style = space
indent_size = 1
