:root {
	--light-background: #e8e8e8;
	--light-foreground: black;
	--light-selection: #005794;
	--dark-background: #282828;
	--dark-foreground: #f0f0f0;
	--dark-selection: #AAEEFF;
	--active-io: #0072B2;
	--active-negate: #D55E00;
	--active-conjoin: #009E73;
	--active-disjoin: #E69F00;
	--passive-io: #003C75;
	--passive-negate: var(--active-negate);
	--passive-conjoin: #00532F;
	--passive-disjoin: #7D4600;

	--background: var(--light-background);
	--foreground: var(--light-foreground);
	--selection: var(--light-selection);

	--hud-border: gray;
	--hud-enabled: cornflowerblue;
	--font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

[data-mode=screenshot] > canvas {
	--background: var(--light-background);
	--foreground: var(--light-foreground);
	--selection: var(--light-selection);
}

[data-mode=screenshot].dark > canvas {
	--background: var(--dark-background);
	--foreground: var(--dark-foreground);
	--selection: var(--dark-selection);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--dark-background);
		--foreground: var(--dark-foreground);
		--selection: var(--dark-selection);
		color-scheme: dark;
	}
}

:root,
body,
canvas {
	width: 100%;
	height: 100%;
	margin: 0;
	touch-action: none;
	overflow: hidden;
	background: var(--background);
	font-family: var(--font);
}

.dragging {
	cursor: grabbing;
}

.hud {
	position: fixed;
	bottom: 0;
	left: 50%;
	max-width: 100%;
	width: max-content;
	transform: translate(-50%, 0);
	box-sizing: border-box;
	border: 0.1em var(--hud-border) solid;
	border-bottom: none;
	--border-radius: 0.5em;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	padding: 0.2em 1em;
	background: var(--background);
	color: var(--foreground);
	touch-action: none;
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
}

:where([data-mode=normal], [data-mode=eval], [data-mode=selected], [data-mode=pasting]) .hud {
	display: flex;
}

.hud button,
dialog button.close {
	padding: 0;
	border: none;
	background: transparent;
}

.hud svg,
.hud-message,
.hud button,
dialog button.close {
	width: 1em;
	height: 1em;
}

.hud-message {
	display: inline-block;
	width: unset;
	min-width: 5.75em;
	text-align: center;
	line-height: 1rem;
	font-size: 0.8rem;
}

:where([data-mode=normal]) .enabled-if-normal,
:where([data-mode=eval]) .enabled-if-eval,
:where([data-mode=selected]) .enabled-if-selected,
:where([data-mode=pasting]) .enabled-if-pasting,
:where([data-mode=inert]) .enabled-if-inert,
:where([data-mode=screenshot]) .enabled-if-screenshot {
	--foreground: var(--hud-enabled);
}

.show-if-normal,
.show-if-eval,
.show-if-selected,
.show-if-pasting,
.show-if-inert,
.show-if-screenshot,
.hud-paste {
	display: none;
}

:where([data-mode=normal]) .show-if-normal,
:where([data-mode=eval]) .show-if-eval,
:where([data-mode=selected]) .show-if-selected,
:where([data-mode=pasting]) .show-if-pasting,
:where([data-mode=inert]) .show-if-inert,
:where([data-mode=screenshot]) .show-if-screenshot {
	display: contents;
}

.used-clipboard:not([data-mode=eval]):not([data-mode=pasting]) .hud-paste {
	display: contents;
}

dialog {
	min-width: 25%;
	border: 0.1em var(--hud-border) solid;
	border-radius: 0.5em;
	padding: 1em;
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font);
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto;
	gap: 1em;
}

dialog:not([open]) {
	display: none;
}

dialog .title {
	grid-row: 1;
	grid-column: 1;
	margin-block: 0;
}

dialog .close {
	grid-row: 1;
	grid-column: 2;
	justify-self: end;
}

dialog .body {
	grid-row: 2;
	grid-column: 1 / 3;
}

dialog .body :first-child {
	margin-block-start: 0;
}

dialog .body :last-child {
	margin-block-end: 0;
}

dialog .footer {
	grid-row: 3;
	grid-column: 1 / 3;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 0.25em;
}

dialog .footer.vertical {
	flex-direction: column;
}

save-browser ul {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr auto auto;
	gap: 0.25em;
}

save-browser:not([primary][secondary]) ul {
	grid-template-columns: 1fr auto;
}

save-browser:not([primary]):not([secondary]) ul {
	grid-template-columns: 1fr;
}

save-browser li {
	display: contents;
}

.full-width {
	width: 100%;
	resize: vertical;
}

label {
	display: block;
	margin-block: 0.25em;
}

p {
	max-width: 60ch;
}

fieldset {
	border: none;
	border-radius: 0.5em;
	margin-block: 1em;
	--padding: 1.5em;
	padding-inline: var(--padding);
}

fieldset > legend {
	margin-inline-start: calc(-1 * var(--padding));
}

@media (pointer: coarse) {
	.hud {
		font-size: 1.5rem;
	}
}

@media (max-width: 24em) {
	.hud {
		left: 0;
		transform: none;
		width: 100%;
		border: none;
		border-top: 0.1em var(--hud-border) solid;
		border-radius: 0;
	}

	.used-clipboard:not([data-mode=eval]):not([data-mode=pasting]) .hud {
		gap: 0.9em;
	}
}
