:root {
	--background: #e8e8e8;
	--foreground: black;
	--controls-border: gray;
}

:root,
body,
canvas {
	width: 100%;
	height: 100%;
	margin: 0;
	touch-action: none;
	overflow: hidden;
	background: var(--background);
}

.controls {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	border: 0.1em var(--controls-border) solid;
	border-bottom: none;
	--border-radius: 0.5em;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	padding: 0.2em 1em;
	background: var(--background);
	color: var(--foreground);
	touch-action: none;
	display: flex;
	gap: 1em;
}

.controls button {
	padding: 0;
	border: none;
	background: transparent;
	width: 1em;
	height: 1em;
}

.controls svg {
	width: 1em;
	height: 1em;
}

.controls polygon {
	transform-origin: center;
}

.controls line {
	stroke-width: 0.01em;
	stroke: var(--foreground);
}

@media (pointer: coarse) {
	.controls {
		font-size: 1.5rem;
	}
}
